html {
	font-family: Candara, Helvetica, Verdana;
	font-size: 18px;
  text-align: justify;
}
body {
  margin: 0px;
  padding: 48px 24px;
}
.left-pane {
  display: inline-block;
  width: calc(240px - 48px);
  margin: 0px;
  padding: 48px 24px;
  vertical-align: top;
  text-align: right;
}
.left-pane > img {
  width: 128px;
  height: 128px;
  margin: 0px;
  padding: 0px;
}
.left-pane > h1 {
  font-size: 24px;
  font-weight: normal;
}
.left-pane > ul {
  list-style: none;
}
.left-pane > ul > li > a {
  text-decoration: none;
}
.right-pane {
  display: inline-block;
  width: calc(720px - 48px);
  margin: 0px;
  padding: 48px 24px;
  vertical-align: top;
}
.right-pane > div.page > h1 {
  margin-top: 0px;
}
.footer {
  position: fixed;
  left: 0px; right: 0px; bottom: 0px;
  margin: 0px;
  padding: 6px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.footer > p {
  margin: 0px; padding: 0px;
}
.experience-table {
  font-size: 17px;
}
.term {
  font-weight: bold;
  vertical-align: top;
}
.description {
  padding-left: 20px;
}
.description-line {
  display: block;
}
